/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {font-size: 3.998em;}
h2 {font-size: 2.827em;}
h3 {font-size: 1.999em;}
h4 {font-size: 1.414em;}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: #424242;
}

body > header {
  height: 35em;
  background: url(../img/header.png);
  background-size: cover;
}

body > header h1 {
  line-height: 1.6;
  font-weight: 700;
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  text-transform: uppercase;
}

body main {
  max-width: 40em;
  margin: 0 auto;
}

body main > footer {
  position: relative;
  margin-top: -3.75em;
}

body main > footer figure {
  width: 7.5em;
  float: left;
}

body main > footer figure img {
  width: 100%;
  border: 2px solid white;
  border-radius: 50%;
  display: inline;
}

body main > footer p {
  display: inline;
  line-height: 9.375em;
}

body main > footer p:first-of-type {
  padding-left: 1em;
  font-weight: 700;
}

body main > footer p:last-of-type {
  float: right;
  font-weight: 300;
}

body main > section {
  margin-bottom: 3em;
}

body main > section p {
  font-size: 1.25em;
  line-height: 1.6;
}

body main > section p + p {
  margin-top: 1em;
}

body main > section a {
  color: #1E88E5;
  text-decoration: none;
}

body main > section a:hover {
  color: rgba(0,0,0,0.25);
}

body main > section blockquote {
  border-left : 0.5em solid #1E88E5;
  padding-left: 1.5em;
  margin: 1em 0;
  font-size: 1.25em;
  line-height: 1.6;
}

body main > section figure{
  overflow: hidden;
}

body main > section figure img {
  width: 100%;
}

body main > section figure figcaption {
  float: right;
  font-size: 0.75em;
  font-weight: 300;
  font-style: italic;
}
